# how to retrieve FACTSET Equity market time series using ASR

- Import ASR Data Accessor Library (DAL)

In [1]:
from aiq_strategy_robot.data.data_accessor import DAL

- Create a FACTSET data handler

In [9]:
handler = DAL('FACTSET')

- Load the data to memory by calling `load`

In [10]:
# `data_type` must be 'gpd_prices'
handler = handler.load(
    data_type='gpd_prices',
    list_symbols=['AAPL-US', '7203-JP', 'MSFT-US'],
    start_datetime='2023-01-01',
    split_adjust=True,
    fields=['price', 'vwap', 'volume', 'turnover']
)

- Retrieve to `Pandas.DataFrame` the loaded data via `retrieve`

In [11]:
df_mkt = handler.retrieve(transformed=False)
df_mkt.head()

                         volume   close        vwap currency      turnover
ticker  datetime
AAPL-US 2022-12-30   77034209.0  129.93  128.821023      USD  9.877545e+06
        2023-01-03  112117471.0  125.07  125.693370      USD  1.403410e+07
        2023-01-04   89113633.0  126.36  126.641738      USD  1.119978e+07
        2023-01-05   80962708.0  125.02  126.078091      USD  1.008031e+07
        2023-01-06   87754715.0  129.62  128.229937      USD  1.112700e+07

In [12]:
df_mkt.index.get_level_values('ticker').unique()

Index(['AAPL-US', '7203-JP', 'MSFT-US'], dtype='object', name='ticker')

- Split unadjusted data

In [13]:
handler.load(
    data_type='gpd_prices',
    list_symbols=['MS-US', '9983-JP'],
    start_datetime='2023-01-01',
    split_adjust=False,
    fields=['price', 'vwap', 'volume', 'turnover']
)
df_unadj = handler.retrieve(transformed=False)
df_unadj.head()

                      volume  close       vwap currency       turnover
ticker datetime
MS-US  2022-12-30  4455649.0  85.02  84.823234      USD  377063.181800
       2023-01-03  5108896.0  85.72  85.612901      USD  437121.332701
       2023-01-04  7726771.0  86.65  86.415300      USD  641215.926946
       2023-01-05  5339886.0  85.92  85.639517      USD  457229.074332
       2023-01-06  5710882.0  87.56  87.319164      USD  498109.890019

In [14]:
df_unadj.index.get_level_values('ticker').unique()

Index(['MS-US', '9983-JP'], dtype='object', name='ticker')

- You can choose which columns to keep in the output by specifying `pick_cols`

In [15]:
df_small = handler.retrieve(
    transformed=False,
    pick_cols=['close', 'vwap']
)
df_small.head()

                   close       vwap
ticker datetime
MS-US  2022-12-30  85.02  84.823234
       2023-01-03  85.72  85.612901
       2023-01-04  86.65  86.415300
       2023-01-05  85.92  85.639517
       2023-01-06  87.56  87.319164